<div>
    <div class="doc-intro">
        <h1>Templates</h1>
        <p>Highly customizable application templates to get started in no time with style. Designed and implemented by Qius Solutions.</p>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/apollo-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Apollo" src="https://qius.solutions.org/cdn/qiusng/images/layouts/apollo-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/apollo-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/apollo-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/sakai-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="sakai" src="https://qius.solutions.org/cdn/qiusng/images/layouts/sakai-ng.png" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/sakai-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://github.com/qius.solutions/sakai-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Download</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/atlantis-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Atlantis" src="https://qius.solutions.org/cdn/qiusng/images/layouts/atlantis-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/atlantis-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/atlantis-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/ultima-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Ultima" src="https://qius.solutions.org/cdn/qiusng/images/layouts/ultima-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/ultima-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/ultima-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/freya-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Freya" src="https://qius.solutions.org/cdn/qiusng/images/layouts/freya-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/freya-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/freya-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/diamond-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Diamond" src="https://qius.solutions.org/cdn/qiusng/images/layouts/diamond-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/diamond-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/diamond-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/verona-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Verona" src="https://qius.solutions.org/cdn/qiusng/images/layouts/verona-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/verona-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/verona-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/poseidon-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Poseidon" src="https://qius.solutions.org/cdn/qiusng/images/layouts/poseidon-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/poseidon-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/poseidon-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/sapphire-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Sapphire" src="https://qius.solutions.org/cdn/qiusng/images/layouts/sapphire-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/sapphire-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/sapphire-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/serenity-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Serenity" src="https://qius.solutions.org/cdn/qiusng/images/layouts/serenity-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/serenity-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/serenity-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/babylon-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Babylon" src="https://qius.solutions.org/cdn/qiusng/images/layouts/babylon-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/babylon-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/babylon-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/avalon-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Avalon" src="https://qius.solutions.org/cdn/qiusng/images/layouts/avalon-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/avalon-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/avalon-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/roma-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Roma" src="https://qius.solutions.org/cdn/qiusng/images/layouts/roma-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/roma-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/roma-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/prestige-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Prestige" src="https://qius.solutions.org/cdn/qiusng/images/layouts/prestige-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/prestige-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/prestige-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/mirage-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Mirage" src="https://qius.solutions.org/cdn/qiusng/images/layouts/mirage-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/mirage-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/mirage-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/olympia-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Olympia" src="https://qius.solutions.org/cdn/qiusng/images/layouts/olympia-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/olympia-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/olympia-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/california-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="California" src="https://qius.solutions.org/cdn/qiusng/images/layouts/california-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/california-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/california-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/ecuador-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Ecuador" src="https://qius.solutions.org/cdn/qiusng/images/layouts/ecuador-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/ecuador-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/ecuador-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/harmony-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Harmony" src="https://qius.solutions.org/cdn/qiusng/images/layouts/harmony-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/harmony-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/harmony-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/manhattan-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Manhattan" src="https://qius.solutions.org/cdn/qiusng/images/layouts/manhattan-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/manhattan-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/manhattan-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/paradise-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Paradise" src="https://qius.solutions.org/cdn/qiusng/images/layouts/paradise-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/paradise-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/paradise-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/morpheus-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Morpheus" src="https://qius.solutions.org/cdn/qiusng/images/layouts/morpheus-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/morpheus-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/morpheus-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/barcelona-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Barcelona" src="https://qius.solutions.org/cdn/qiusng/images/layouts/barcelona-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/barcelona-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/barcelona-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://www.qius.solutions.org/omega-ng" rel="noopener noreferrer" target="_blank">
                    <img alt="Omega" src="https://qius.solutions.org/cdn/qiusng/images/layouts/omega-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://www.qius.solutions.org/omega-ng" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a href="https://www.qius.solutions.org/layouts/omega-ng" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>